version: '3'

services:
  app:
    build: .
    container_name: postclinics_prod
    restart: unless-stopped
    ports:
      - "8005:8000"
    volumes:
      - ./data:/app/data
    env_file:
      - .env
    environment:
      - DATA_DIR=/app/data
    networks:
      - app-network

  scheduler:
    build: .
    container_name: postclinics_scheduler
    command: python -m src.application.scheduler
    restart: unless-stopped
    volumes:
      - ./data:/app/data
    env_file:
      - .env
    environment:
      - DATA_DIR=/app/data
      - SCHEDULER_INTERVAL=600
    networks:
      - app-network
    depends_on:
      - app

networks:
  app-network:
    driver: bridge
